<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  
    The product is <products></products>

   <h3><ad></ad></h3> 

    <button (click)="onClick($event)" [style.backgroundColor]="isActive ? 'blue':'gray'" [disabled]="!isActive">Submit</button>
     
    <h2 (mousemove) = "onMove($event)" (click)="onClick($event)">Mouse coordinates {{coordinates}}</h2>
  
    <h3>Example of two way binding
      <h4>  
          <input type="text" [(ngModel)]="title">
          You typed {{title}}
      </h4>

    
    </h3>

    <rating></rating>

<router-outlet></router-outlet>
